@import './abstracts/fonts';
@import './abstracts/variables';
@import './abstracts/mixins';
@import './abstracts/functions';

body {
    margin: 0;
    padding: 0;
    position: relative; 
    background-color: color($light, 50);
    font-family: Lexend, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: color($dark, 50);
    overflow-x: hidden;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, Lexend, Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: $space-xl 0 $space-s;
}

.classic-container {
    max-width: $classic-container;
    margin: 0 auto $space-xxl;
}

.form-submit-container {
    box-sizing: border-box;
    display: flex;
    margin: $space-m 0 $space-l;
}

.form-ctas {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $txt-xs;
}

// forms
.input-password {
    background-color: color($primary, 72);
    color: color($primary, 20);
    font-size: $txt-m;
    padding: $space-xxs $space-xs;
    width: 180px;
    border: 1px solid transparent;
}

.password-button {
    width: 60px;
    height: 34px;
    margin: 0;
    font-size: $txt-m;
    background-color: color($primary, 72);
    color: color($primary, 20);
    border: 1px solid color($primary, 20);
    border-radius: $radius-xs;
    cursor: pointer;
    @include transition;

    &:hover {
        background-color: color($primary, 20);
        color: color($light, 50);
    }
}