// Colors
$primary: hsl(225,38%,68%);
$secondary: hsl(333,85%,44%);
$dark: hsl(300,40%,6%);
$light: hsl(0,0%,98%);
$success: hsl(79,78%,81%);
$sun: hsl(40,100%,69%);

// Containers
$classic-container: 1200px;

// Breakpoints
$bp-xxs: 250px;
$bp-xs: 440px;
$bp-s: 650px;
$bp-m: 760px;
$bp-l: 1024px;
$bp-xl: 1400px;

// Font sizes
$txt-xs: 0.85rem;
$txt-s: 1rem;
$txt-m: 1.2rem;
$txt-l: 1.5rem;
$txt-xl: 2rem;
$txt-xxl: 3rem;
$txt-xxxl: 5rem;

// Spacing
$space-xxs: 3px;
$space-xs: 6px;
$space-s: 12px;
$space-m: 18px;
$space-l: 30px;
$space-xl: 48px;
$space-xxl: 78px;
$space-xxxl: 126px;

// Radius
$radius-xxs: 3px;
$radius-xs: 6px;
$radius-s: 12px;
$radius-m: 18px;
$radius-l: 30px;
$radius-xl: 48px;
$radius-xxl: 78px;
$radius-circle: 50%;